.popover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    border-color: gray;}
    .popover .manual-arrow {
      position: absolute;
      bottom: -15px;
      font-size: 26px;
      left: 50%;
      transform: translateX(-50%);
      color: gray; }

  .bs-popover-auto[x-placement^=left] .arrow::before, .bs-popover-left .arrow::before {
    border-left-color: gray; }

  .bs-popover-auto[x-placement^=bottom] .arrow::before, .bs-popover-bottom .arrow::before {
    border-bottom-color: gray; }

  .bs-popover-auto[x-placement^=top] .arrow::before, .bs-popover-top .arrow::before {
    border-top-color: gray; }

  .bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::before {
    border-right-color: gray; }

  .popover .popover-header {
    background-color: transparent;
    border: none;
    padding-bottom: 0;
    padding-top: 10px; }

  .popover .popover-body {
    padding: 15px;
    line-height: 24px; }

/* Back to top button */
.back-to-top {
    position: fixed;
    display: none;
    background:#a34f23;

    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
  }

  .back-to-top i {
    font-size: 24px;
    padding-top: 6px;
  }

  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }

  .back-to-top:focus {
    background: #6d3111;
    color: #fff;
    outline: none;
  }

  .back-to-top:hover {
    background: #E8BDA5;
    color: #fff;
  }
